.fondo {
    background:  -o-linear-gradient(45deg, rgba(179, 86, 255, 0.6) 0%, rgba(2, 242, 114, .7) 100%);
	background: -ms-linear-gradient(45deg, rgba(140, 0, 255, .6) 0%, rgba(2, 242, 114, .7) 100%);
	background:  linear-gradient(45deg, rgba(140, 0, 255, .6) 0%, rgba(2, 242, 114, .7) 100%);
    margin: 4px;
}

.bienvenida {
    font-family: 'Grandstander', cursive;
    font-weight: bolder;
    color: black;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border: rgb(170, 200, 111) 10px solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bienvenida--mod {
    font-family: 'Grandstander', cursive;
    font-weight: bolder;
    color: black;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    word-spacing: 5px;

}

.empezamos {
    color:black;
    background-color: rgb(170, 200, 111);
    font-family: 'Grandstander', cursive;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    font-weight: 800;
    border: black 10px solid;
    word-spacing: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empezamos:hover {
    background-color: rgb(170, 200, 111);
    color:rgb(170, 200, 111);
    align-items: center;
}
.empezamos a :visited {
    text-decoration: none;
}

.entradaLetra {
    color:black;
    background-color: rgb(105, 48, 195);
    font-family: 'Grandstander', cursive;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    font-weight: 800;
    border: black 10px solid;
    word-spacing: 5px;
    text-decoration: none;
    margin: 3rem;
    padding: 14px;
    text-align: center;
    position: center;

}

.botonesEinputs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 4px;
}

.volver {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
:visited {
    text-decoration: none;
}