.fondo {
    background: linear-gradient(rgb(37, 37, 37), rgb(105, 48, 195), rgb(100, 223, 223), rgb(128, 255, 219), rgb(37, 37, 37));
    margin: 4px;
}
.bienvenida {
    font-family: 'Grandstander', cursive;
    font-weight: bolder;
    color: black;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border: yellowgreen 10px solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bienvenida--mod {
    font-family: 'Grandstander', cursive;
    font-weight: bolder;
    color: black;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    word-spacing: 5px;

}

.empezamos {
    color:black;
    background-color: rgb(105, 48, 195);
    font-family: 'Grandstander', cursive;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    font-weight: 800;
    border: black 10px solid;
    word-spacing: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empezamos:hover {
    background-color: yellowgreen;
    color:rgb(105, 48, 195);
    align-items: center;
}

.entradaLetra {
    color:black;
    background-color: rgb(105, 48, 195);
    font-family: 'Grandstander', cursive;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    font-weight: 800;
    border: black 10px solid;
    word-spacing: 5px;
    text-decoration: none;
    margin: 3rem;
    padding: 14px;
    text-align: center;
    display:inline-flex;
    justify-self: center;

}

.botonesEinputs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 4px;
}

.volver {
    width: 16px;
    height: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
:visited {
    text-decoration: none;
}